.food-card {
  position: relative;
  text-align: left;
  background: #8cc04e;
  border-radius: 15px;
  color: white;
  font-weight: bold;
  font-size: 1.5em;
  outline: none;
  text-decoration: none;
  overflow: visible; 

  &:focus {
    outline: 2px solid #45a049;
  }

  a {
    text-decoration: none;
    color: inherit;

    &:hover {
      text-decoration: none;
    }
  }
  .season-type {
    position: absolute;
    writing-mode: vertical-lr;
    top: 50px;
    font-size: 22px;
    transform: rotate(180deg);
  }

  .product-details {
    padding: 210px 50px 20px;
    padding-left: 10px;
    font-size: 20px;
  }

  img {
    position: absolute; 
    right: -50px; 
    top: 20%; 
    transform: translateY(-50%); 
    width: 200px;
    height: 180px;
    object-fit: contain;
  }


}
