.food-container {
  display: flex;
  justify-content: center;
  .food-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;  
    gap: 20px;
    font-size: 24px;
    padding-top: 10px;
    .food-item {
      color: #999a99;
      cursor: pointer;
      font-weight: bold;

      &:hover {
        color: #00a358;
      }

      &.active {
        color: #00a358;
        text-decoration: underline;
      }
    }
  }
}
