.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 50px;
  background: #599e0a;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  font-weight: bold;
  width: 100%;
  .logo img {
    height: 60px;
    transition: transform 0.3s ease;
    &:hover {
      transform: scale(1.1);
    }
  }

  .search-bar {
    flex: 1;
    margin: 0 20px;
    display: flex;
    justify-content: center;

    input {
      width: 100%;
      max-width: 600px;
      padding: 10px 20px;
      border: none;
      border-radius: 30px;
      font-size: 16px;
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
      transition: box-shadow 0.3s ease;

      &::placeholder {
        color: #b3b3b3;
      }

      &:focus {
        outline: none;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
      }
    }
  }

  .navbar {
    display: flex;
    align-items: center;

    a {
      margin-left: 20px;
      color: white;
      text-decoration: none;
      font-size: 18px;
      transition: color 0.3s ease;

      &:hover {
        color: #e0f7fa;
      }

      &:active {
        color: #aed581;
      }
    }
  }
}
