.contact-section {
    margin-left: 300px;
    h2 {
        font-size: 2rem;
        margin-bottom: 1rem;
    }

    .contact-page ul {
        list-style: none;
        padding: 0;
    }
    .contact-page ul li {
        margin: 0.5rem 0;
    }
}

.faq {
    margin-top: 2rem;
    p {
        margin: 0.5rem 0;
    }
}
